* {
  margin: 0;
  padding: 0;
}

body {
  background-color: honeydew;
}

#mainTitle {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 70px;
}

#gridDiv {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr 2fr;
  grid-template-areas:
    "controls search sort completed"
    "controls view view completed"
    ". view view completed" ;
  gap: 10px;
  column-gap: 30px;
  width: 90%;

  padding: 30px;
}

#ControlSection {
  grid-area: controls;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "head head head"
    "desc textIn textIn"
    "prio prio prioSel"
    "add alert alert";
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 200px;
  box-shadow: 2px 2px rgb(238, 131, 131);
  padding: 10px;
  border: solid 0.5px rgb(238, 131, 131);
}

#newTaskTitle {
  grid-area: head;
  text-align: left;
}

#textInputLabel {
  grid-area: desc;
}

#textInput {
  grid-area: textIn;
}

#priorityLabel {
  grid-area: prio;
}

#prioritySelector {
  grid-area: prioSel;
}

#ViewSection {
  grid-area: view;
  min-height: 200px;
}

#searchDiv {
  grid-area: search;
  display: flex;
}

#sortDiv {
  grid-area: sort;
  display: flex;
  justify-content: space-around;
}

span[color="taskPriority1"] {
  background-color: #77c2fe;
}
span[color="taskPriority2"] {
  background-color: #4bff2f;
}
span[color="taskPriority3"] {
  background-color: #fefe31;
}
span[color="taskPriority4"] {
  background-color: #feb331;
}
span[color="taskPriority5"] {
  background-color: #fc2020;
}

.todoPriority {
  margin-right: 20px;
  margin-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20%;
}

.todoContainer {
  display: flex;
  align-items: center;
  border: solid 0.2px rgb(153, 175, 120);
  border-radius: 5%;
  margin: 5px;
  padding: 4px;
  box-shadow: 1px 2px rgb(92, 98, 82);
  justify-content: flex-end;
  font-family: 'Amatic SC';
  font-size: 20px;
}

#completedSection{
    grid-area: completed;
    border: solid 0.5px black;
    min-width: 100px;
    padding: 10px;
}

.taskCheck {
  margin-left: 10px;
}

.todoText {
  margin-left: 5px;
  margin-right: auto;
}

.todoCreatedAt {
  margin-left: 30px;
  color: darkgray;
}

#addButton {
  background-color: #37af65;
  height: 30px;
  color: white;
  border-width: 0px;
}

#addButton:hover {
  transform: scale(1.1);
}

#alertDiv {
  grid-area: alert;
}

#alert {
  color: red;
  font-size: 15px;
  margin-left: 20px;
}

.highlight {
  background-color: yellow;
}

#searchInput{
   margin-left: auto; 
}

#completeHead{
    display: flex;
    padding: 10px;
}

#cleanCompleted{
    margin-left: auto;
}